.layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}
.layout-sider .logo {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout {
  margin-left: 200px;
}
.layout-header {
  line-height: initial;
  background: #fff;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout-header .title {
  font-size: 16px;
}
.layout-content {
  min-height: calc(100vh - 160px);
  background-color: #fff;
  margin: 24px 16px 0;
  padding: 24px;
  overflow: initial;
}
.layout-footer {
  text-align: center;
}
